<ion-header>
    <ion-toolbar>
        <ion-title>map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
>
    <div #layer class="layer-button">
        <ion-button
                *ngFor="let button of scenes[currentPosition]?.destinations"
                [ngStyle]="{'top': button.y + '%', 'left': button.x + '%'}"

        >

            CLICK
        </ion-button>
    </div>
    <img
        #background
        class="background"
        [src]="scenes[currentPosition]?.background_url"
        [alt]="'background_url'"
    />
    <ion-icon class="arrow-forward" name="arrow-forward" size="large" (click)="rotateRight()"></ion-icon>
    <ion-icon class="arrow-back" name="arrow-back" size="large" (click)="rotateLeft()"></ion-icon>
</ion-content>
